@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*навигация*/
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  width: 139px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 345px;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.navigation-item {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
}

.navigation-link:link {
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-users {
  display: flex;
  flex-wrap: wrap;
  width: 264px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.navigation-user-link {
  display: block;
  width: 18px;
  height: 18px;
  padding: 24px 12px;
}

.navigation-user-item:nth-child(2) .navigation-user-link {
  margin-right: 20px;
}

.navigation-user-item .button {
  display: block;
  width: 130px;
  height: 20px;
  padding: 9px 9px;
  margin-block: 13px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.navigation-user-link svg:hover {
  stroke: #756257;
  fill: #756257;
}

a.button:link {
  background-color: #756257;
  border-radius: 4px;
}

a.button:hover {
  background-color: #615048;
}

a.button:focus {
  border-width: 3px;
  border-style: solid;
  border-color: #83B3D3;
}

a.button:active {
  color: rgba(255, 255, 255, 0.3);
}

/*main*/
.main-container {
  flex-grow: 1;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 51px 0 82px;
  background-color: #83B3D3;
  background-image: url('../image/index-background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.welcome-title {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

/*О Седоне*/
.about-us {
  padding-top: 63px; 
  line-height: 36px;
  text-align: center;
}

.about-us-title {
  width: 720px;
  margin: 0 auto 31px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color:#000000;
}

.about-us-description {
  width: 720px;
  font-size: 22px;
  margin: 0 auto 80px;
  padding: 0;
}

/*причины*/
.reason-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  width: 1200px;
  margin: 0;
  padding: 0;
}

.reason-item {
  background: rgba(131, 179, 211, 0.12);
}

.reason-item:nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

.reason-item:first-child {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 400px 800px;
}

.reason-container {
  background-color: #83B3D3;
  padding: 97px 90px 87px;
  color:#FFFFFF;
}

.reason-item img {
  height: 100%;
  object-fit: cover;
}

.reason-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.number-reason {
  display: block;
  margin-bottom: 30px;
  line-height: 21px;
  font-size: 18px;
}

.reason-description {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.reason-item:nth-child(5) {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 800px 400px;
}

.advantage-item {
  margin: 0;
  padding: 85px 75px 79px;
}

.advantage-title {
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.reason-wrapper {
  padding: 97px 75px 108px;
}

.house::before {
  display: block;
  margin: 0 auto 23px;
  content: url('../image/house.svg');
  width: 75px;
  height: 72px;
}

.food::before {
  display: block;
  margin: 0 auto 23px;
  content: url('../image/food.svg');
  width: 74px;
  height: 70px;
}

.presents::before {
  display: block;
  margin: 0 auto 23px;
  content: url('../image/presents.svg');
  width: 64px;
  height: 76px;
}

/*поиск*/
.search {
  padding: 91px 240px 93px;
  text-align: center;
  height: 100%;
}

.search-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  margin: 0 auto 56px;
  padding: 0;
  width: 730px;
}

.search .button {
  display: block;
  width: 575px;
  margin: 0 auto;
  padding: 15px 0;
  color:#FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

/*подписка*/
.subscribe {
  box-sizing: border-box;
  width: 1200px;
  padding: 94px 200px;
  background-color: #83B3D3;
  background-image: url('../image/background.jpg');
  background-size: 100%;
  color: #FFFFFF;
}

.subscribe-container {
  width: 800px;
  margin: 0 auto;
}

.subscribe-title {
  width: 720px;
  margin: 0 auto 29px;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-description {
width: 720px;
margin: 0 auto 46px;
padding: 0;
font-size: 22px;
line-height: 26px;
text-align: center;
}

.subscribe-form {
  display: flex;
}

input[type="email"] {
  width: 600px;
  height: 60px;
  padding-left: 22px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border-color: transparent;
}

button[type="submit"] {
  margin-left: 0;
  width: 200px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  border-color: transparent;
  background-color: #83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
}

/*footer*/
.container-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

/*социальные сети*/
.social {
  width: 107px;
  margin-inline: auto 72px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-item {
  width: 12px;
  height: 15px;
  margin-right: 29px;
  margin-bottom: 29px;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-link {
  display: block;
}

.social-link svg:link {
  stroke: #83B3D3;
  fill: #83B3D3;
}

.socil-link svg:hover {
  stroke: #68A2CA;
  fill: #68A2CA;
}

.social-link svg:focus {
  stroke: #68A2CA;
  fill: #68A2CA;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

/*контакты*/
.contacts {
  display: block;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

/*разработчик*/
.copywriter {
  width: 115px;
  margin-inline: 72px auto;
}

/*каталог*/

.main-inner {
  width: 1200px;
  margin: 0 auto;
}

.inner-container {
  background-color: #808080;
  background-image: url('../image/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 35px 72px 83px;
}

/*внутренний header*/
.inner-header {
  color: #FFFFFF;
  margin-bottom: 45px;
}

.inner-header-title {
  width: 528px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  padding-right: 11px;
}

.breadcrumbs-item:first-child::after {
  content: url('../image/arrow-right.svg');
  margin-right: 11px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #FFFFFF;
}

/*фильтр*/
.filter {
   color: #FFFFFF;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 217px 312px 287px 241px;
}

.filter-group {
  border-color: transparent;
  padding: 0;
  margin: 0;
}

.filter-group:last-child {
  align-self: end;
}

.filter-group-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-group-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-group-item {
  margin-bottom: 13px;
}

.filter-group-item:last-child {
  margin-bottom: 0;
}

.control-input {
  border-color: transparent;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;;
}

button[type="reset"] {
  border-color: transparent;
  background-color: transparent;
  color: #FFFFFF;
}

.catalog-filter button[type="submit"] {
  margin-bottom: 20px;
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
}

/*сортировка*/
.sorting-container {
  display: flex;
  width: 1057px;
  margin: 0 auto;
  padding: 44px 72px 53px;
}

.sorting-type {
  display: flex;
}

.sorting-buttons {
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.sorting-type p {
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  margin-left: 192px;
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-card {
  display: block;
  content: url("../image/mode-tile.svg");
  width: 16px;
  height: 14px;
  padding: 17px 16px;
  margin-left: auto;
  background-color: transparent;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-card:focus {
  border: 2px solid #000000;
}

.button-select {
  display: block;
  content: url("../image/mode-slideshow.svg");
  width: 16px;
  height: 14px;
  padding: 17px 16px;
  background-color: transparent;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-list {
  display: block;
  content: url("../image/mode-list.svg");
  width: 16px;
  height: 14px;
  padding: 17px 16px;
  background-color: transparent;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

/*карточки*/
.option-card-container {
  width: 1057px;
  margin: 0 auto;
  padding: 0 72px;
}

.option-card-list {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 34px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  row-gap: 10px;
  column-gap: 18px;
}

.option-card-item {
  display: grid;
  grid-template-columns: 133px 26px 140px;
  grid-auto-rows: 206px minmax(31px, auto) 23px 37px 37px;
  row-gap: 16px;
  margin: 0;
  padding: 20px 20px;
  font-size: 18px;
  line-height: 23px;
}

.option-card-image {
  display: block;
  grid-column: span 3;
  order: -2;
}

.option-card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  order: -1;
  grid-column: 1/-1;
  grid-row: auto;
} 

.option-card-description {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 133px 140px;
  column-gap: 25px;
  margin: 0;
  padding: 0;
}

.option-card-description span {
  display: block;
}


.option-card-container .button {
  display: block;
  grid-column: 1/2;
  width: 133px;
  height: 18px;
  padding: 9px 0;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}


.option-card-container button[type="submit"] {
  width: 140px;
  height: 37px;
  grid-column: 3/-1;
  font-size: 16px;
  font-weight: 700;
  background-color: #83B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.grid-card-item img {
  grid-column: 1/2;
}

/*рейтинг*/
.rating {
  width: 160px;
  height: 18px;
  grid-column: 2/-1;
  justify-self: end;
  margin: 0;
  padding: 9px 0;
  background: #F2F2F2;
  border-radius: 4px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.option-card-button {
  width: 1055px;
  padding: 30px 0; 
  margin: 0 auto;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.option-card-button button[type="button"] {
  display: block;
  width: 620px;
  height: 60px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  background: #83B3D3;
  border-color: transparent;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
}

/*пагинация*/
.pagination-container {
  width: 1056px;
  margin: 0 auto;
  padding: 30px 72px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-link {
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  margin-right: 8px;
  background-color: #83B3D3;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link:active {
  background-color: #F2F2F2;
  color: #000000;
}

.amount-products {
  margin-left: auto;
}

.amount {
  width: 175px;
  padding-right: 51px;
}

.amount-products select {
  width: 160px;
  height: 48px;
}

.subscribe-inner {
  width: 120px;
  padding: 73px 200px 140px;
}