@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

.page {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*навигация*/
.navigation {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  width: 139px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 597px;
  margin: 0;
  padding: 0;
}

.navigation-item {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
}

.navigation-link:link {
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-users {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 264px;
  margin: 0;
  padding: 0;
}

.navigation-user-link {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;
  padding: 24px 12px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000
}

.amount-heart {
  position: absolute;
  top: 15px;
  left: 24px;
  width: 20px;
  height: 20px;
  padding: 2px 2px;
  box-sizing: border-box;

  font-family: inherit;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  text-align: center;

  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-user-link .navigation-icon:hover {
  stroke: #756257;
  fill: #756257;
}

.navigation-user-link .navigation-icon:active,
.navigation-user-link:active {
  stroke: #756257;
  fill: #756257;
  opacity: 0.3;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-user-item .navigation-button {
  display: block;
  width: 130px;
  height: 20px;
  padding: 9px 15px;
  margin-block: 13px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;

  background-color: #756257;
  border-radius: 4px;
}

.button-link:link {
  background-color: #756257;
}

.button-link:hover {
  background-color: #615048;
}

.button-link:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.button-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

/*main*/
.main-container {
  flex-grow: 1;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 51px 0 82px;

  background-color: #83B3D3;
  background-image: url('../image/index-background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.welcome-title {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

/*О Седоне*/
.about-us {
  padding-top: 63px;

  text-align: center;
}

.about-us-title {
  width: 720px;
  margin: 0 auto 31px;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
}

.about-us-description {
  width: 720px;
  margin: 0 auto 80px;
  padding: 0;

  font-size: 22px;
  line-height: 36px;
}

/*причины*/
.reason-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  width: 1200px;
  margin: 0;
  padding: 0;
}

.reason-item {
  background: rgba(131, 179, 211, 0.12);
}

.reason-item:nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

.reason-item:first-child {
  display: grid;
  grid-template-columns: 400px 800px;
  grid-column: span 3;
}

.reason-container {
  padding: 97px 90px 87px;

  color:#FFFFFF;

  background-color: #83B3D3;
}

.reason-item img {
  height: 100%;

  object-fit: cover;
}

.reason-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.number-reason {
  display: block;
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 21px;
}

.reason-description {
  margin: 0 auto;
  padding: 0;

  font-size: 18px;
  line-height: 21px;
}

.reason-item:nth-child(5) {
  display: grid;
  grid-template-columns: 800px 400px;
  grid-column: span 3;
}

.advantage-item {
  margin: 0;
  padding: 85px 75px 79px;
}

.advantage-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  color: #FFFFFF;
}

.reason-wrapper {
  padding: 97px 75px 108px;
}

.house::before {
  content: url('../image/house.svg');
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 23px;
}

.food::before {
  content: url('../image/food.svg');
  display: block;
  width: 74px;
  height: 70px;
  margin: 0 auto 23px;
}

.presents::before {
  content: url('../image/presents.svg');
  display: block;
  width: 64px;
  height: 76px;
  margin: 0 auto 23px;
}

/*поиск*/
.search {
  height: 100%;
  padding: 91px 240px 93px;

  text-align: center;
}

.search-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  width: 730px;
  margin: 0 auto 56px;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.search .search-button {
  display: block;
  width: 575px;
  margin: 0 auto;
  padding: 15px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color:#FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}



/*подписка*/
.subscribe {
  box-sizing: border-box;
  width: 1200px;
  padding: 94px 200px;

  color: #FFFFFF;

  background-color: #83B3D3;
  background-image: url('../image/background.jpg');
  background-size: 100%;
}

.subscribe-container {
  width: 800px;
  margin: 0 auto;
}

.subscribe-title {
  width: 720px;
  margin: 0 auto 29px;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-description {
width: 720px;
margin: 0 auto 46px;
padding: 0;

font-size: 22px;
line-height: 26px;
text-align: center;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 600px;
  height: 60px;
  padding-left: 22px;

  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border-color: transparent;
}

.subscribe-input:invalid {
  background-color: #FFFFFF;
  outline: 2px solid #FF5757;
}

.subscribe-input:placeholder-shown {
  background-color: #F2F2F2;
  outline-color: transparent;
}

.subscribe-input:link {
  background-color: #F2F2F2;
  outline: none;
}

.subscribe-input:hover {
  background-color: #E6E6E6;
}

.subscribe-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.subscribe-button {
  width: 200px;
  margin-left: 0;

  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;

  border-radius: 0 10px 10px 0;
  border-color: transparent;
  background-color: #83B3D3;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  outline: 3px solid #756257;
  outline: -3px;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

/*footer*/
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 1200px;
  
  padding: 25px 0;
}

/*социальные сети*/
.social {
  margin-left: 72px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.social-link:nth-child(3) {
  margin-right: 0;
}

.social-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-link:hover,
.social-link svg:hover {
  fill: #68A2CA;
  outline: none;
}

.social-link:focus,
.social-link svg:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.social-link:focus {
  box-sizing: border-box;
  background-color: #FFFFFF;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  border-radius: 10px;
}

.social-link:active,
.socil-link svg:active {
  fill: #68A2CA;
  stroke: #68A2CA;
  outline-color: transparent;
  opacity: 0.3;
}

/*контакты*/
.contacts {
  position: relative;
  width: 400px;
  height: 40px;

  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  
  color: #000000;
}

.footer-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  text-align: center;
}

.footer-link:link {
  color: #000000;
}

.footer-link:hover {
  color: #756257;
}
.footer-link:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  border-radius: 10px; 
}

.footer-link:active {
  color: #756257;
  opacity: 0.3;
  outline-color: transparent;
}

/*разработчик*/

.copywriter {
  width: 160px;
  height: 70px;
  margin-right: 72px;
}

.copywriter-link {
  position: relative;
  width: 160px;
  height: 70px;
  display: block;
}

.copywriter-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.copywriter-link:hover svg,
.copywriter-link svg:hover {
  fill:  #756257;
}

.copywriter-link:focus,
.copywriter-link svg:focus {
  margin: auto;
  fill:  #756257;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  border-radius: 10px; 
}

.copywriter-link:active,
.copywriter-link svg:active {
  fill: #756257;
  opacity: 0.3;
  outline-color: transparent;
}
/*каталог*/

.main-inner {
  width: 1200px;
  margin: 0 auto;
}

.inner-container {
  padding: 35px 72px 83px;

  background-color: #808080;
  background-image: url('../image/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*внутренний header*/
.inner-header {
  margin-bottom: 45px;

  color: #FFFFFF;
}

.inner-header-title {
  width: 528px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item + .breadcrumbs-item {
  position: relative;
  margin-left: 10px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: -7px;
  width: 5px;
  height: 8px;
  background-image: url("../image/arrow-right.svg");
  opacity: 0.3;
}


.breadcrumbs-link {
  display: flex;
  padding: 3px 8px;
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-link-home {
  width: 12px;
  height: 21px;
  background-image: url("../image/main-page.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  border-radius: 4px;
  
}

/*фильтр*/
.filter {
  color: #FFFFFF;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 200px 200px 1fr 224px;
  justify-content: space-between;
  column-gap: 17px;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-group-price {
  margin-left: 94px;
}

.filter-group-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.title-price {
  margin-bottom: 34px;
}

.filter-group-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-group-item {
  margin-bottom: 13px;
}

.filter-group-item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 19px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;

  background: #FFFFFF;
  border: transparent;
  border-radius: 4px; 
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  width: 12px;
  height: 10px;
  background-image: url('../image/check-mark.svg');
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input:focus + .control-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.control-input:active + .control-mark {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  border: none;
}

.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}


.control-label {
  margin-left: 19px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;;
}


.range-wrapper-inputs {
  display: flex;
  
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter-label {
  position: relative;
  display: flex;
  width: 144px;
  height: 48px;
  margin: 0;
  padding: 0;
  

  justify-content: flex-end;
  align-items: center;

  box-sizing: border-box;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: rgba(255,255,255, 0.3);
}

.range-title {
  padding-right: 15px;
}

.catalog-filter-label:nth-child(2) {
  margin-left: -2px;
}

.catalog-filter-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 143px;
  height: 48px;
  margin: 0;
  box-sizing: border-box;

  border: 2px solid #FFFFFF;
  outline: none;
  appearance: textfield;
  background-color: transparent;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

.catalog-filter-input[placeholder] {
  padding-left: 17px;
}

.catalog-filter-label:nth-child(2) {
  margin-left: -2px;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.catalog-filter-input:focus {
  outline: none;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 4px 0px 0px 4px;
}

.catalog-filter-input:active {
  outline: none;
  background: #756257;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0px 0px 4px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255,255,255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgb(255,255,255);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border-color: none;
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-group:last-child {
  display: flex;
  flex-direction: column;
  align-self: end;
  margin: 0;
  margin-left: 64px;
}

.filter-group-button  {
  width: 160px;
  height: 48px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;

  border: none;
  outline-color: transparent;
  border-radius: 4px;
  background-color: #83B3D3;
}

.filter-group-button:hover {
  background-color: #68A2CA;
}

.filter-group-button:focus {
  outline: 3px solid #FFFFFF;
}

.filter-group-button:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  width: 160px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;

  border-color: transparent;
  background-color: transparent;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

/*сортировка*/
.sorting-container {
  display: flex;
  width: 1057px;
  margin: 0 auto;
  padding: 44px 72px 53px;
}

.sorting-type {
  display: flex;
}

.sorting-type p {
  margin: 0;
  margin-right: auto;
  padding: 0;

  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 287px;
  height: 48px;
  margin-left: 192px;
  padding: 12px 19px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;

  outline: 2px solid #E6E6E6;
  outline-offset: -2px;
  border-radius: 4px;
  background-color: #FFFFFF;
  background-image: url('../image/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 19px center;
  appearance: none;
}

.select-control:hover {
  border: none;
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.select-control:focus {
  border: none;
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  outline: none;
  color: rgba(51, 51, 51, 0.3);
}

.sorting-buttons {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  margin-left: auto;
}

.button-card {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;

  background-color: transparent;
  outline: 2px solid #E6E6E6;
  outline-offset: -2px;
  border-radius: 4px;
}

.button-card svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
}

.button-card:hover {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.button-card:focus {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.button-card:active {
outline: 2px solid #000000;
outline-offset: -2px;
}

/*карточки*/
.option-card-container {
  width: 1057px;
  margin: 0 auto;
  padding: 0 72px;
}

.option-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  row-gap: 10px;
  column-gap: 18px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 34px;
}

.option-card-item {
  display: grid;
  grid-template-columns: 133px 26px 140px;
  grid-auto-rows: 206px minmax(31px, auto) 23px 37px 37px;
  row-gap: 16px;
  margin: 0;
  padding: 20px 20px;

  font-size: 18px;
  line-height: 23px;
}

.option-card-image {
  display: block;
  grid-column: span 3;
  order: -2;
}

.option-card-image:hover {
  opacity: 0.6;
}

.option-card-image:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  border: none;
}

.option-card-image:active {
  opacity: 0.3;
  border: none;
}

.option-card-title {
  order: -1;
  grid-column: 1/-1;
  grid-row: auto;
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.option-card-description {
  display: grid;
  grid-template-columns: 133px 140px;
  grid-column: span 3;
  column-gap: 25px;
  margin: 0;
  padding: 0;
}

.option-card-description span {
  display: block;
}


.option-card-container .option-button {
  display: block;
  grid-column: 1/2;
  width: 133px;
  height: 18px;
  padding: 10px 0;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
}


.button-send {
  grid-column: 3/-1;
  width: 140px;
  height: 37px;

  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;

  background-color: #83B3D3;
  border: none;
  outline: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #68A2CA;
  outline: 1px solid #756257;
}

.button:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.button:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}


.button-current {
  grid-column: 3/-1;
  width: 140px;
  height: 37px;

  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;

  background-color: #7DB54F;
  border: none;
  outline: none;
  border-radius: 4px;
}

.button-current:hover {
  background-color: #6C9E42;
}

.button-current:focus {
  background-color: #6C9E42;
  outline: 3px solid #756257;
}

.button-current:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.grid-card-item img {
  grid-column: 1/2;
}

/*рейтинг*/
.rating {
  grid-column: 2/-1;
  justify-self: end;
  width: 160px;
  height: 18px;
  margin: 0;
  padding: 9px 0;

  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background: #F2F2F2;
  border-radius: 4px;
}

.option-card-button {
  width: 1055px;
  padding: 30px 0;
  margin: 0 auto;

  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.option-card-button .button {
  display: block;
  width: 620px;
  height: 60px;
  margin: 0 auto;

  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;

  background: #83B3D3;
  border-color: transparent;
  border-radius: 4px;
}

.option-card-button .button:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

/*пагинация*/
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  margin: 0 auto;
  padding: 30px 72px 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;

  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;

  background-color: #83B3D3;
  border-radius: 4px;
}

.pagination-link:hover {
background-color: #68A2CA;
}

.pagination-link:focus {
  background-color:#68A2CA;
  outline: 3px solid #756257;
  outline-offset: -3px;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #68A2CA;
  outline: none;
}

.pagination-link-current {
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;

  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 4px;
}

.amount-products {
  margin-left: auto;
}

.amount {
  width: 175px;
  padding-right: 51px;
}

.amount-select {
  width: 160px;
  height: 48px;
  padding: 12px 17px;
  font: inherit;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../image/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.amount-select:hover {
  border: none;
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.amount-select:focus {
  border: none;
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.amount-select:active {
  border: 2px solid #E6E6E6;
  outline: none;
  color: rgba(51, 51, 51, 0.3);
}

.subscribe-inner {
  width: 800px;
  margin: 0 auto;
  padding: 73px 200px 140px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
position: relative;
margin: auto;
padding: 70px;
padding-top: 54px;
background-color: #FFFFFF;
box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
border-radius: 30px;
}

.modal-search {
  width: 715px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../image/button-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  outline: none;
  opacity: 0.3;
}

.modal-content {
  width: 575px;
}

.modal-title {
  height: 67px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 32px;
}

.modal-form {
  width: 575px;
  display: grid;
  grid-template-columns: 155px 133px 56px 97px 133px;
  row-gap: 11px;
  align-items: baseline;
}

.modal-label {
  grid-column: 1/2;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.modal-label-adult {
  align-self: start;
}

.modal-label-child {
  position: relative;
  grid-column: 4/5;
  align-self: start;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.modal-input-container {
  grid-column: 2/-1;
}

.modal-input {
  display: block;
  box-sizing: border-box;
  width: 420px;
  height: 49px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  padding-left: 19px;
  margin-bottom: 1px;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
}

.modal-input:hover {
  background-color: #E6E6E6;
}

.modal-input:focus {
 outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.modal-input:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
  outline-offset: -2px;
}


 .modal-error {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #FF5757;
}

.modal-description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #333333;
}

.container-adult {
  grid-template-columns: 2/3;
}

.container-child {
  grid-template-columns: 5/-1;
}

.container-amount {
  min-width: 133px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  border-radius: 4px;
  background-color: #F2F2F2;
  z-index: 0;
}

.modal-input-amount {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 0 50px;

  border: none;
  outline: none;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  appearance: textfield;
}

.modal-input-amount::-webkit-outer-spin-button,
.modal-input-amount::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.number-button {
  position: relative;
  z-index: 1;

  grid-row: 1/2;
  display: grid;
  place-content: center;

  background-color: transparent;
  border: none;
}

.number-button::after {
  content: "";
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  opacity: 0.3;
}

.number-button:hover::after {
  opacity: 1;
}

.number-button:active::after {
  opacity: 0.2;
}

.number-button:focus {
  outline: none;
}

.number-button:focus:not(:active)::after {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  border-radius: 4px;
  opacity: 1;
}

.number-button-minus {
  grid-column: 1/2;
}

.number-button-minus::after {
background-image: url("../image/minus.svg");
}

.number-button-plus {
  grid-column: -2/-1;
}

.number-button-plus::after {
  background-image: url("../image/plus.svg");
}

 .modal-button {
  width: 575px;
  height: 60px;
  display: block;
  grid-column: 1/-1;
  background-color: #83B3D3;
  border-radius: 10px;
  border: none;
  
  color: #FFFFFF;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}


.info {
  position: absolute;
  top: 8px;
  left: 45px;

  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 10px;

  background-color: #83B3D3;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../image/info-icon.svg");
  border-radius: 50%;
}

.info-text {
  position: absolute;
  top: calc(100% + 15px);
  left: calc(50% - 128px);
  z-index: 1;

  display: none;
  width: 256px;
  padding: 15px 18px 18px 22px;

  color: #FFFFFF;
  background-color: #333333;
  border-radius: 10px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.info-text::before {
  content: "";
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);

  width: 19px;
  height: 9px;

  background-image: url("../image/triangle.svg");
}

.info-text::after {
  content: "";
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;

  height: 25px;
}

.info:hover .info-text {
  display: block;
}