@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.visually-hidden {
  visibility: hidden;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link svg:hover {
  stroke: #756257;
  fill: #756257;
}

a.button:link {
  background-color: #756257;
  border-radius: 4px;
}

a.button:hover {
background-color: #615048;
}

a.button:focus {
  border-width: 3px;
  border-style: solid;
  border-color: #83B3D3;
}

a.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  width: 514px;
  margin: 0;
  padding: 0;
}

.navigation-users {
  width: 264px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-item {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.logo {
  width: 139px;
}

.navigation-item .button {
  width: 130px;
  height: 20px;
  padding: 9px 15px 8px 15px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-image: url('../image/index-background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.welcome-title {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.about-us {
  line-height: 36px;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color:#000000;
}

.about-us-title {
  width: 720px;
  margin: 0 auto;
}

.about-us-description {
  font-size: 22px;
}

.reason-list {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.reason-item {
  color:#FFFFFF;
  margin: 0;
  padding: 0;
}

.reason-1,
.reason-2 {
  background-color: #83B3D3;
}

.reason-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.advantage-list {
  margin: 0;
  padding: 0;
}

.advantage-item {
  margin: 0;
  padding: 0;
  color: #000000;
}

.advantage-item .reason-title {
  font-size: 24px;
  line-height: 28px;
}

.advantage-item:first-child,
.advantage-item:last-child {
  background: rgba(131, 179, 211, 0.12);
}

.house::before {
  content: url('../image/house.svg');
  width: 75px;
  height: 72px;
}

.food::before {
  content: url('../image/food.svg');
  width: 74px;
  height: 70px;
}

.presents::before {
  content: url('../image/presents.svg');
  width: 64px;
  height: 76px;
}

.reason-item:nth-child(3),
.reason-item:nth-child(5) {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.reason-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.2);
  color:#000000;
}

.search {
  text-align: center;
  height: 100%;
}

.search-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
}

.search-description {
  margin-bottom: 56px;
}

.search .button {
  width: 575px;
  padding: 15px 30px 15px 30px;
  color:#FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 108px;
}

.subscribe {
  width: 1200px;
  margin: 0 auto;
  background-image: url('../image/background.jpg');
  color: #FFFFFF;
}

.subscribe-title {
  margin-top: 94px;
}

.form-inner-container {
  width: 800px;
  margin: 0 auto;
}

input[type="email"] {
  width: 600px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border-color: transparent;
}

button[type="submit"] {
  margin-left: 0;
  width: 200px;
  border-radius: 0 10px 10px 0;
   border-color: transparent;
  background-color: #83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
}

.contacts {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

/*каталог*/

.main-inner {
  width: 1200px;
  margin: 0 auto;
  background-image: url('../image/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.inner-header {
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-item:first-child::after {
  content: url('../image/arrow-right.svg');
}

.filter {
   color: #FFFFFF;
}

.filter-container {
  display: flex;
  justify-content: space-around;
}

.filter-group {
  border-color: transparent;
}

.filter-group-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-input {
  border-color: transparent;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control-mark {
  content: url("../image/marker.svg");
  background-color: white;
  width: 20px;
  height: 20px;
}

button[type="reset"] {
  border-color: transparent;
  background-color: transparent;
}

.catalog-filter button[type="submit"] {
  border-radius: 4px;
}

.sorting-container {
  width: 1057px;
}

.sorting-type p {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-light {
  display: block;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-card {
  display: block;
  content: url("../image/mode-tile.svg");
  width: 16px;
  height: 14px;
  padding: 17px 16px;
  background-color: transparent;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-card:focus {
  border: 2px solid #000000;
}

.button-select {
  display: block;
  content: url("../image/mode-slideshow.svg");
  width: 16px;
  height: 14px;
  padding: 17px 16px;
  background-color: transparent;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-list {
  display: block;
  content: url("../image/mode-list.svg");
  width: 16px;
  height: 14px;
  padding: 17px 16px;
  background-color: transparent;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.option-card-container {
  width: 1056px;
}

.option-card-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  row-gap: 10px;
  column-gap: 18px;
}

.option-card-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.option-card-item {
  margin: 0;
  padding: 20px;
  font-size: 18px;
  line-height: 23px;
}

.option-card-price {
  font-weight: 400;
}

.option-card-container .button {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  width: 133px;
  height: 37px;
  padding: 10px 20px;
}


.option-card-container button[type="submit"] {
  background-color: #83B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
 width: 140px;
 height: 18px;
padding-top: 10px;
padding-bottom: 18px;
}


.rating {
  width: 160px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  color: #333333;
}

.option-card-button {
  width: 620px;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: #83B3D3;
  border-color: transparent;
border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.pagination-container {
  width: 1056px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.form-inner {
  width: 800px;
  margin: 0 auto;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

.social {
  width: 107px;
  margin-right: 61px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-link svg:link {
  stroke: #83B3D3;
  fill: #83B3D3;
}

.socil-link svg:hover {
  stroke: #68A2CA;
  fill: #68A2CA;
}

.social-link svg:focus {
  stroke: #68A2CA;
  fill: #68A2CA;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.contacts {
  width: 720px;
}

.copywriter {
  width: 115px;
  margin-left: auto;
}
